.row{
    margin: 10px;
    background-color: rgba(172, 172, 172, 0.9);;
    border-radius: 10px;
}

#space{
    height: 50px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

#barras{
    padding: 1%;
}