<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/perfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Jousse Cardozo, Gonzalo</p>
        <p>Full stack developer JR</p>
        <p>Electrical Engineer Student</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsum natus quaerat sunt expedita, obcaecati perspiciatis. Pariatur vitae optio qui iusto, eaque aliquid accusamus doloribus iste sapiente quae. Culpa, esse.</p>

    </div>
</div>
