<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/personal.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Jousse Cardozo, Gonzalo</p>
        <p>Full stack developer JR</p>
        <p>Electrical Engineer Student</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Mi nombre es Gonzalo, un joven de 26 años estudiante de ingenieria eléctrica y desarrollador web full stack. </p>
        <p>Apasinado por la tecnologia y el desarrollo.</p>
        <p>Hobbie: Musica y Video juegos.</p>

    </div>
</div>
