<div class="row justify-content-center " >
    <h2>PROYECTOS</h2>
    <hr>
    <div class=" col-lg-8">
        <ngb-carousel>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="'../assets/proyect1.png'" alt="Random first slide">
            </div>
            <div class="carousel-caption pryect" >
                <h3>PORTFOLIO</h3>
                <p>Protfolio realizado con el proyecto de Argentina programa</p>
                <p>Realizado en 2022</p>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="'../assets/proyect.jpg'" alt="Random second slide">
            </div>
            <div class="carousel-caption" >
                <h3>PROYECTO 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper" >
                <img [src]="'../assets/proyect.jpg'" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>PROYECTO 3</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            </ng-template>
         </ngb-carousel>
    </div>
</div>