
<!-- <div class="container" *ngIf="educacion">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                </div>
                <button class="btn btn-primary">
                    Editar educacion
                </button>
            </form>
        </div>
    </div>
</div>
 -->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">ESTUDIOS</h2>
                            <p class="text-white-50 mb-5">Modifique los campos</p>

                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                <div class="form-group">
                                    <label for="nombreE">Nombre de la institucion</label>
                                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                                </div>
                                <div class="form-group">
                                    <label for="descripcionE">Descripcion de sus estudios</label>
                                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                                </div>
                                <button class="btn btn-primary">
                                    Editar educacion
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>