<div class="row">
    
    <div class="col-lg-12">
        <h1 id="Title">Experiencia Laboral</h1>
        <ul>
            <hr>
            <li>
                <img src="../../assets/TLPFF.png" id="t1">
                <h1 id="expe">Teleperformance</h1>
                <h3 id="expe">(2018-2018)</h3>
                <p>Atención al publico</p>
            </li>
            <hr>
            <li>
                <img src="../../assets/rj.png" id="t1">
                <h1 id="expe">Contratista RJ</h1>
                <h3 id="expe">(2020-Actualidad)</h3>
                <p>Inspeccion y relevamiento de fibra optica</p>
                <p>Administrativo</p>
            </li>
        </ul>
    </div>
</div>