<div class="row">
    
    <div class="col-lg-12">
        <h1 id="Title">Estudios Academicos</h1>
        <ul>
            <hr>
            <li>
                <img src="../../assets/ESCUDO - ESCUELA TÉCNICA N 2 - O COLOMBRES-1.png" id="t1">
                <h1 id="expe">Escuela Tecnica Nº2 - Obispo Colombres</h1>
                <h3 id="expe">(2008-2014)</h3>
                <p>Especialidad: Técnico Electromecanico</p>
                <p>Estado: Finalizado</p>
            </li>
            <hr>
            <li>
                <img src="../../assets/utn.png" id="t1">
                <h1 id="expe">Universidad Tecnologica Nacional - Facultad Regional Tucuman</h1>
                <h3 id="expe">(2015-Actualidad)</h3>
                <p>Titulo: Ingenieria Eléctrica</p>
            </li>
            <hr>
            <li>
                <img src="../../assets/APLogo.png" id="t2">
                <h1 id="expe">Argentina Programa</h1>
                <h3 id="expe">(2021-Actualidad)</h3>
                <p>Titulo: Full Stack developer JR</p>
            </li>
        </ul>
    </div>
</div>